
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex mb-4">
        <h1 class="h3 mb-5 text-gray-800">Dashboard</h1>
    </div>


</div>
<!-- /.container-fluid -->