
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}
<h5 class="text-center font-weight-bold"> Trang chủ</h5>
<img class="mx-auto d-block img-fluid" src="~/Assets/Admin/img/DashBoard.jpg"  />
