
@{
    ViewBag.Title = "Setting";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Project_Year_2.Models.EF.Account


<div class="container">
    <div class="row">
        <div class="col-md-6 m-5 bg-light">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bolder">
                    <h3>

                        Cài đặt thông tin
                    </h3>
                    <hr />
                </div>
                <div class="panel-body">

                    <div class="shadow p-4 mb-4 bg-white">
                        <div>Bạn muốn thay đổi với tài khoản:</div>
                        <br>
                        <br>
                        <br>
                        @Html.ActionLink("Thay đổi thông tin", "Update", "Setting")
                        <br>
                        @Html.ActionLink("Thay đổi mật khẩu", "Change", "Setting")

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
