
<div class="row site-custom-gutters">

    <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Thư viện ảnh</h2>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <p class="lead">Lưu trữ hình ảnh của những món ăn nổi bật trong Nhà hàng.</p>
            </div>
        </div>
    </div>

    @if (ViewBag.Menu != null)
    {
        foreach (var item in ViewBag.Menu)
        {
            <div class="col-md-4 site-animate">
                <a href=@Url.Content(item.ImagePath) class="site-thumbnail image-popup">
                    <img src=@Url.Content(item.ImagePath) class="img-fluid" style="width:350px;height:350px;">
                </a>
            </div>
        }
    }


</div>