
<div class="row">
    <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Tin tức</h2>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <p class="lead">Sự khác biệt độc đáo của Nhà hàng chúng tôi.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="media d-block mb-4 text-center site-media site-animate">
            <img src="~/Assets/Client/images/offer_1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
            <div class="media-body p-md-5 p-4">
                <h5 class="mt-0 h4">Chúng tôi luôn có những món ăn mới lạ</h5>
                @*<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>*@

                <p class="mb-0"><a href="#" target="_blank" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#news1Modal">Xem thêm</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="media d-block mb-4 text-center site-media site-animate">
            <img src="~/Assets/Client/images/offer_2.jpg" alt="Free Template by colorlib.com" class="img-fluid">
            <div class="media-body p-md-5 p-4">
                <h5 class="mt-0 h4">Lựa chọn đặc biệt của đầu bếp</h5>
                @*<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>*@

                <p class="mb-0"><a href="#" target="_blank" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#news2Modal">Xem thêm</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="media d-block mb-4 text-center site-media site-animate">
            <img src="~/Assets/Client/images/offer_3.jpg" alt="Free Template by colorlib.com" class="img-fluid">
            <div class="media-body p-md-5 p-4">
                <h5 class="mt-0 h4">Thực đơn cho các buổi kỉ niệm</h5>
                @*<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>*@

                <p class="mb-0"><a href="#" target="_blank" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#news3Modal">Xem thêm</a></p>
            </div>
        </div>
    </div>
</div>