
<div class="row">
    <div class="col-md-12 text-center mb-5 site-animate">
        <h4 class="site-sub-title">Lựa chọn của Chúng tôi</h4>
        <h2 class="display-4">Trong Mùa Hè Này</h2>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <p class="lead">Đây là những món ăn được ưa thích nhất tại thời điểm này.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="owl-carousel site-owl owl-theme" id="test">

            @if (ViewBag.Menu != null)
            {
                foreach (var item in ViewBag.Menu)
                {
                    <div class="owl-item">
                        <div class="media d-block mb-4 text-center site-media site-animate border-0">
                            <img src=@Url.Content(item.ImagePath) class="img-fluid" style="width:350px;height:350px;">
                            <div class="media-body p-md-5 p-4">
                                <h5 class="text-primary">$@item.Price</h5>
                                <h5 class="mt-0 h4">@item.Name</h5>
                                <p class="mb-4">@item.Description</p>

                                <p class="mb-0"><a href="#" target="_blank" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#model_@item.ID_Menu">Chi tiết</a></p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@if (ViewBag.Menu != null)
{
    foreach (var item in ViewBag.Menu)
    {
        <div class="modal fade" id="model_@item.ID_Menu" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="bg-image" style="background-image: url(/Assets/Client/images/reservation_1.jpg);"></div>
                            </div>
                            <div class="col-lg-12 p-5">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <small>ĐÓNG </small><span aria-hidden="true">&times;</span>
                                </button>
                                <br />
                                <h1 class="mb-4" style="text-align:center">
                                    @item.Name
                                </h1>
                                <div class="media d-block mb-4 text-center site-media site-animate border-0">
                                    <img src=@Url.Content(item.ImagePath) alt="#" class="img-fluid" style="width:300px;height:300px;">
                                    <div class="media-body p-md-5 p-4">
                                        <p class="mb-4">@item.Description</p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
} 