<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
        <div class="bg-login-image">
            <!-- Sidebar - Brand -->
            <br>
            <br>
            <br>
            <br>
            <a class="sidebar-brand  align-items-center justify-content-center mx-lg-auto" href="/Admin">
                <div class="sidebar-brand-icon ">
                    <div class="sidebar-brand-text mx-lg-auto">Quản lý nhà hàng</div>
                </div>

            </a>

        </div>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Thông tin tài khoản
        </div>

        <!-- Nav Item - Account Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-user"></i>
                <span>Tài khoản</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Quản lí tài khoản</h6>
                    <a class="collapse-item" href="/Admin/Manager/Home">Quản lí</a>
                    <a class="collapse-item" href="/Admin/Staff/Home">Nhân viên</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Setting Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Cài đặt</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tài khoản quản lí:</h6>
                    <a class="collapse-item" href="/Admin/Manager/Index">Thiết lập</a>
                    <a class="collapse-item" href="/Admin/Manager/Create">Thêm mới</a>
                    <h6 class="collapse-header">Tài khoản nhân viên:</h6>
                    <a class="collapse-item" href="/Admin/Staff/Index">Thiết lập</a>
                    <a class="collapse-item" href="/Admin/Staff/Create">Thêm mới</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Authorized/Index">
                <i class="fas fa-fw fa-comment"></i>
                <span>Phân quyền</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Thông tin Nhà hàng
        </div>

        <!-- Nav Item - Menu Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-hamburger"></i>
                <span>Thực đơn</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/Admin/Menu/Index">Thông tin món ăn</a>
                    <a class="collapse-item" href="/Admin/Menu/Create">Thêm món ăn</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Order -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-fw fa-sticky-note"></i>
                <span>Đơn đặt bàn</span>
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/Admin/Order/Index">Thông tin đơn</a>
                    <a class="collapse-item" href="/Admin/Order/Create">Thêm đơn</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Menu Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBill" aria-expanded="true" aria-controls="collapseBill">
                <i class="fas fa-fw fa-hamburger"></i>
                <span>Hóa đơn</span>
            </a>
            <div id="collapseBill" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/Admin/Bills/Index">Thông tin Hóa đơn</a>
                    <a class="collapse-item" href="/Admin/Bills/Create">Thêm Hóa đơn</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Message -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Message/Index">
                <i class="fas fa-fw fa-comment"></i>
                <span>Lời nhắn  </span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
<!-- End of Sidebar -->

