
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar navbar-expand-lg navbar-dark site_navbar bg-dark site-navbar-light" id="site-navbar">
    <div class="container">
        <a class="navbar-brand" href="/Home/Index">Nhà Hàng</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu">Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="site-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/Home/Index#section-home" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a href="/Home/Index#section-about" class="nav-link">Thông tin</a></li>
                <li class="nav-item"><a href="/Home/Index#section-offer" class="nav-link">Đặt bàn</a></li>
                <li class="nav-item"><a href="/Home/Index#section-menu" class="nav-link">Thực đơn</a></li>
                <li class="nav-item"><a href="/Home/Index#section-news" class="nav-link">Tin tức</a></li>
                <li class="nav-item"><a href="/Home/Index#section-gallery" class="nav-link">Thư viện ảnh</a></li>
                <li class="nav-item"><a href="/Home/Index#section-contact" class="nav-link">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Assets/Client/images/about_image.jpg" alt="Free Template by colorlib.com" class="img-fluid">
    </div>
</div>
    <div class="col-lg-12 p-5 mx-auto" style="width:900px">
        <h4 class="site-sub-title">
            Về Nhà hàng của chúng tôi
        </h4>
        <p>
            Các món ăn tinh tế, bất ngờ, tinh tế của bếp trưởng Thomas Allan làm nổi bật các thành phần đặc biệt và tính thời vụ trong ba trải nghiệm ẩm thực riêng biệt: thực đơn món khai vị đậm đà trong The Modern, nhìn ra Vườn điêu khắc Abby Aldrich Rockefeller của MoMA; một thực đơn gọi món trong Phòng Bar sôi động; và một thực đơn nếm thử tại trung tâm của nhà bếp tại Bàn bếp.

            Thực đơn bổ sung cho đầu bếp Allan, một loạt các loại rượu vang thể hiện sự đa dạng và giá trị đặc biệt trong các loại rượu vang cả khu vực cổ điển và mới nổi. Thiết kế nhà hàng của công ty kiến ​​trúc Bentel & Bentel có trụ sở tại New York mang đến lối thoát chào đón khỏi khu phố Midtown nhộn nhịp mà nó gọi là nhà.

            Kể từ khi ra mắt vào năm 2005, The Modern đã kiếm được hai ngôi sao Michelin, ba ngôi sao từ Thời báo New York, Giải thưởng lớn từ Wine Spectator và bốn giải thưởng James Beard, bao gồm Nhà hàng mới tốt nhất, Dịch vụ rượu vang xuất sắc và Thiết kế nhà hàng xuất sắc.
        </p>
    </div>
