
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar navbar-expand-lg navbar-dark site_navbar bg-dark site-navbar-light" id="site-navbar">
    <div class="container">
        <a class="navbar-brand" href="/Home/Index">Nhà Hàng</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu">Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="site-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/Home/Index#section-home" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a href="/Home/Index#section-about" class="nav-link">Thông tin</a></li>
                <li class="nav-item"><a href="/Home/Index#section-offer" class="nav-link">Đặt bàn</a></li>
                <li class="nav-item"><a href="/Home/Index#section-menu" class="nav-link">Thực đơn</a></li>
                <li class="nav-item"><a href="/Home/Index#section-news" class="nav-link">Tin tức</a></li>
                <li class="nav-item"><a href="/Home/Index#section-gallery" class="nav-link">Thư viện ảnh</a></li>
                <li class="nav-item"><a href="/Home/Index#section-contact" class="nav-link">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Assets/Client/images/about_image.jpg" alt="Free Template by colorlib.com" class="img-fluid">
    </div>
</div>
    <div class="col-lg-12 p-5 mx-auto" style="width:900px">
        <h4 class="site-sub-title">
            Về Nhà hàng của chúng tôi
        </h4>
        <p>
            Founded by Danny Meyer's Union Square Hospitality Group, The Modern is a two Michelin-starred, contemporary American restaurant at the Museum of Modern Art.

            Executive Chef Thomas Allan's refined, unexpectedly playful dishes highlight exceptional ingredients and seasonality in three distinct culinary experiences: a bold prix fixe menu in The Modern, overlooking MoMA's Abby Aldrich Rockefeller Sculpture Garden; an à la carte menu in the lively Bar Room; and a bespoke tasting menu in the heart of the kitchen at The Kitchen Table.

            Complementing Chef Allan’s menus, an extensive selection of wines showcases exceptional diversity and value in wines both classic and emerging regions.  The restaurant's design by the New York-based architecture firm Bentel & Bentel offers a welcome escape from the bustling Midtown neighborhood it calls home.

            Since its debut in 2005, The Modern has earned two Michelin stars, three stars from The New York Times, the Grand Award from Wine Spectator and four James Beard Awards, including Best New Restaurant, Outstanding Wine Service, and Outstanding Restaurant Design.

            The Modern is a non-tipping restaurant. Hospitality Included.
        </p>
    </div>
